<template>
    <div class="w-full bg-blue-200 rounded">
        <h3 class="font-mono">{{item.name}}</h3>
        <p>{{item.email}}</p>
        <p>{{item.phone}}</p>

        <div class="border-l-2 border-pink-300 my-2">
            <div class="pl-2 text-pink-300">Address</div>
            <div class="pl-2">City: {{item.address.city}}</div>
        </div>

        <div class="border-l-2 border-purple-600">
            <div class="pl-2 text-purple-600">Company</div>
            <div class="pl-2">Name: {{item.company.name}}</div>
        </div>
        <div class="flex justify-end pt-3">
            <router-link
                :to="`/users/${item.id}`"
                class="bg-red-400 hover:bg-red-500 text-white font-bold py-2 px-4 border-b-4 border-red-500 hover:border-red-700 rounded">
                View
            </router-link>
        </div>
    </div>
</template>

<script>

export default {
  name: 'UserItem',

  props: {
    item: Object
  }
}
</script>

