<template>
    <ul class="flex">
        <li
            :key="index"
            class="flex-1 mx-1"
            v-for="(item, index) in items"
        >
            <router-link
                :to="item.link"
                class="text-center block border border-blue-500 rounded py-2 px-4 bg-blue-500 hover:bg-blue-700 text-white"
            >
                {{item.text}}
            </router-link>
        </li>
    </ul>
</template>

<script>

export default {
  name: 'Navigation',
  data () {
    return {
      items: [
        {
          link: '/',
          text: 'Home'
        },
        {
          link: '/posts',
          text: 'Posts'
        },
        {
          link: '/users',
          text: 'Users'
        }
      ]
    }
  }

}
</script>

<style scoped>

</style>
