<template>
    <div>
        <h3 class="text-center font-bold py-5">Add New Post</h3>

        <form class="w-full p-5 m-2">
            <div class="md:flex md:items-center mb-6">
                <div class="md:w-1/6">
                    <label class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4" for="title">
                        Title
                    </label>
                </div>
                <div class="md:w-5/6">
                    <input
                        class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-red-500"
                        id="title"
                        type="text"
                        v-model="order.title"
                    >
                </div>
            </div>
            <div class="md:flex md:items-center mb-6">
                <div class="md:w-1/6">
                    <label class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4" for="body">
                        Body
                    </label>
                </div>
                <div class="md:w-5/6">
                    <textarea
                        class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-red-500"
                        id="body"
                        v-model="order.body"
                    ></textarea>

                </div>
            </div>
            <div class="md:flex md:items-center">
                <div class="ml-auto">
                    <button
                        @click.prevent="submit"
                        class="shadow bg-red-500 hover:bg-red-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
                        type="button">
                        Add
                    </button>
                </div>
            </div>
        </form>
    </div>
</template>

<script>
import { mapActions } from 'vuex'

export default {

  name: 'AddPost',

  data () {
    return {
      order: {
        title: '',
        body: '',
        userId: 1
      }
    }
  },

  methods: {
    ...mapActions([
      'addPost'
    ]),

    submit () {
      this.addPost(this.order)
    }
  }
}
</script>
