<template>
    <div class="w-full lg:max-w-full lg:flex">
        <div
            class="h-48 lg:h-auto lg:w-48 flex-none bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden"
            style="background-image: url('https://loremflickr.com/320/240')">
        </div>
        <div
            class="border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal">
            <div class="mb-8">
                <div class="text-gray-900 font-bold text-xl mb-2">{{item.title}}</div>
                <p class="text-gray-700 text-base">{{item.body}}</p>
            </div>
            <div class="flex ml-auto">
                <button
                    @click="deletePost(item.id)"
                    class="mr-3 bg-red-400 hover:bg-red-500 text-white font-bold py-2 px-4 border-b-4 border-red-500 hover:border-red-700 rounded">
                    Remove
                </button>
                <router-link
                    :to="`/posts/${item.id}`"
                    class="bg-red-400 hover:bg-red-500 text-white font-bold py-2 px-4 border-b-4 border-red-500 hover:border-red-700 rounded">
                    View
                </router-link>
            </div>
        </div>
    </div>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  name: 'PostItem',

  props: {
    item: Object
  },

  methods: {
    ...mapActions(['deletePost'])
  }
}
</script>

