<template>
    <div class="text-center h-screen">
        <h1 class="font-mono text-lg text-gray-800 text-center py-5">Home</h1>

        <button
            class="bg-red-400 hover:bg-red-500 text-white font-bold py-2 px-4 border-b-4 border-red-500 hover:border-red-700 rounded">
            Like
        </button>
    </div>
</template>

<script>

import '../../assets/css/tailwind.css'

export default {
  name: 'Home',
}
</script>
