<template>
    <div id="app" class="bg-gray-100">
        <div class="w-2/3 mx-auto py-5">
            <Navigation/>
        </div>

        <div class="container mx-auto">
            <router-view/>
        </div>
    </div>
</template>

<script>

import Navigation from './components/Navigation'

export default {
  name: 'app',
  components: { Navigation }
}
</script>

