<template>
    <div class="h-screen">
        <h3 class="font-mono text-lg text-red-400 text-center py-5">{{post.title}}</h3>
        <div class="font-mono text-center py-5">{{post.body}}</div>
    </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  name: 'PostView',

  data () {
    return {
      id: null
    }
  },

  mounted () {
    this.$nextTick(() => {
      this.fetchPost(this.id)
    })
  },

  computed: {
    ...mapGetters([
      'post'
    ])
  },

  methods: {
    ...mapActions([
      'fetchPost'
    ])
  },

  beforeRouteEnter (to, from, next) {
    next((vm) => {
      vm.id = to.params.id
    })
  }

}
</script>
