<template>
    <div>
        <h1 class="font-mono text-lg text-gray-800 text-center py-5">Posts</h1>

        <AddPost/>

        <PostItem
            :item="post"
            :key="index"
            class="p-5 m-2"
            v-for="(post, index) in posts"
        />
    </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import AddPost from '../../components/Post/AddPost'
import PostItem from '../../components/Post/PostItem'

export default {
  name: 'Posts',

  components: { AddPost, PostItem },

  mounted () {
    this.fetchPosts()
  },

  computed: {
    ...mapGetters([
      'posts'
    ])
  },

  methods: {
    ...mapActions([
      'fetchPosts'
    ])
  }

}
</script>
