<template>
    <div class="h-screen text-left font-mono flex-col flex items-center justify-center" v-if="user.address">
        <div class="text-left">
            <h3 class="text-lg">{{user.name}}</h3>
            <div class=""><span class="text-red-400">Email: </span>{{user.email}}</div>
            <div class=""><span class="text-red-400">Phone: </span>{{user.phone}}</div>
            <div class=""><span class="text-red-400">City: </span>{{user.address.city}}</div>
            <div class=""><span class="text-red-400">Company name: </span>{{user.company.name}}</div>
        </div>
    </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  name: 'UserView',

  data () {
    return {
      id: null
    }
  },

  mounted () {
    this.$nextTick(() => {
      this.fetchUser(this.id)
    })
  },

  computed: {
    ...mapGetters([
      'user'
    ])
  },

  methods: {
    ...mapActions([
      'fetchUser'
    ])
  },

  beforeRouteEnter (to, from, next) {
    next((vm) => {
      vm.id = to.params.id
    })
  }

}
</script>
