<template>
    <div>
        <h1 class="font-mono text-lg text-gray-800 text-center py-5">Users</h1>

        <UserItem
            :item="user"
            :key="index"
            class="p-5 m-2"
            v-for="(user, index) in users"
        />
    </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import UserItem from '../../components/User/UserItem'

export default {
  name: 'Users',

  components: { UserItem },

  mounted () {
    this.fetchUsers()
  },

  computed: {
    ...mapGetters([
      'users'
    ])
  },

  methods: {
    ...mapActions([
      'fetchUsers'
    ])
  }

}
</script>
